* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ITC Eras Std Medium, Poppins;
}

#canvas {
  background: rgb(255, 255, 255);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#controls {
  position: absolute;
  top: 20px;
  left: 20px;
}

button {
  padding: 5px 15px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(51, 157, 199);
  color: white;
}

label,
input {
  color: black;
  font-size: 15px;
}
